.forecast-preview-time {
  color: #235493;
  font-family: "PT Serif", serif;
  font-size: 16px;
  padding: 10px 10px 5px 10px;

}

.ForecastPreview:hover {
  background-color: #c0dbf7;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  
}

.forecast-preview-temp {
  color: #2a73d3;
  font-style: italic;
  font-family: "PT Serif", serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.forecast-icon{
 color: #235493;
}
