.App {
  max-width: 600px;
  margin: 0 auto;
}


h2 {
  font-size: 15px;
  text-align: left;
  font-family: "PT Serif", serif;
  margin-left: 10px;
}

.next-days {
  color: #235493;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 10px;
  position: relative;
  text-align: center;
  background-image: linear-gradient(-225deg, #7de2fc 0%, #b9b6e5 100%);
  padding: 20px 20px 10px;
}

.data-container {
  display: flex;
  flex-direction: row;
}

.city-data {
  display: flex;
  flex-direction: column;

}

.weather-data {
  display: flex;
  margin-top: 40px;
}

.degrees-currentdaytogether {
  margin: 0 auto;
}

.temperature-value {
  vertical-align: top;
}

.units {
  position: relative;
  top: -15px;
  font-size: 19px;
}

.high-low-temperature {
  font-size: 14px;
  font-style: italic;
}


.currently-high-low {
  font-family: "PT Sans", sans-serif;
}

.h-hightemp {
  color: #235493;
}

.l-low-temp {
  color: #235493;
  margin-left: 10px;
}

.wind-humidity {
  color: #235493;
  list-style: none;
  font-family: "PT Serif", serif;
  text-align: right;
 
}

.sky-condition {
  font-family: "PT Serif", serif;
}

.result-sky-condition {
  color: #2a73d3;
  
}

.precipitation-adjust {
  margin-right: 6px;
}

.humidity-adjust {
  margin-right: 6px;
}

.align-link {
  margin: 0 auto;
}

.link-git {
  margin-left: 15px;
  font-size: 12px;
  font-family: "PT Sans", sans-serif;
  color: #235493;
}

.name-after-git {
  color: #2a73d3;
  font-size: 12px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light-blue {
  color: #2a73d3;
}

#city {
  font-size: 50px;
  text-align: left;
  margin-left: 10px;
  margin-top: 40px;
  font-family: "Sansita Swashed", cursive;
  color: #235493;
  width: 50%;
}
